.vynl-label {
  color: currentColor;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  color: var(--color-primary-50);
}

.vynl-label.success {
  color: var(--color-success-50);
}

.vynl-label.danger {
  color: var(--color-danger-50);
}

.vynl-label.disabled {
  color: var(--color-grey-20);
}
