.vynl-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid var(--color-primary-70);
  background: var(--color-primary-20);
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  cursor: pointer;
}

.vynl-checkbox.active {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-primary-70);
  border-radius: 3px;
  background: var(--color-primary-70);
}

.vynl-checkbox.disabled {
  background: var(--color-primary-20);
}


.inner-icon {
  color: var(--color-primary-20);
}
