.vynl-input-wrapper {
  width: 100%;
  min-width: 192px;
  max-width: 300px;
  height: 48px;
  border-radius: 3px;
  border: 1px solid var(--color-primary-70);
  background: #fff;
  position: relative;
}

.vynl-input-wrapper.focus {
  border: 1px solid var(--color-primary-70);
}



.vynl-input-wrapper .vynl-label {
  position: absolute;
  top: -26px;
  left: 0;
  transition: all linear 200ms;
}

.vynl-input-wrapper.disabled {
  background: var(--color-primary-20);
  color: var(--text-02);
}

.vynl-input-wrapper .vynl-input input::placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: var(--text-02);
}

.vynl-input-wrapper .vynl-label.placeholder {
  color: var(--text-02);
  background: transparent;
  padding: 0;
  font-size: var(--font-size-s);
  font-weight: normal;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}



.vynl-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
}

.vynl-input input {
  flex-grow: 1;
  height: 100%;
  background: transparent;
  color: var(--color-grey-100);
  font-size: var(--font-size-s);
  font-weight: normal;
  border: 0;
  outline: 0;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
}


.vynl-input .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-primary-70);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.vynl-input .icon-wrapper.loading {
  color: var(--color-primary-70);
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


.vynl-input .icon-wrapper .vynl-button.onlyicon {
  width: 48px;
  height: 48px;
}

.vynl-input .icon-wrapper .vynl-button.onlyicon:hover,
.vynl-input .icon-wrapper .vynl-button.onlyicon:active,
.vynl-input .icon-wrapper .vynl-button.onlyicon:focus {
  background: transparent;
}

.vynl-input .icon-wrapper .vynl-button.onlyicon:active,
.vynl-input .icon-wrapper .vynl-button.onlyicon:focus {
  color: var(--color-primary-70);
}