.vynl-input{
  width: 100%;
  min-width: 192px;
  max-width: 300px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--color-primary-30);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--color-primary-50);
}

.vynl-input.focus {
  border: 1px solid var(--color-primary-50);
}

.vynl-input.filled {
  background: var(--color-primary-20);
}

.vynl-input.disabled {
  background: var(--color-grey-50);
  color: var(--color-grey-70);
}

.vynl-input input::placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: var(--color-primary-50-40);
}

.vynl-input input {
  flex-grow: 1;
  height: 100%;
  background: transparent;
  color: var(--color-primary-50);
  font-size: var(--font-size-s);
  font-weight: normal;
  border: 0;
  outline: 0;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
}

.vynl-input .prefix,
.vynl-input .suffix {
  min-width: 40px;
  height: 40px;
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.withPrefix {
  padding-left: 0px;
}

input.withSuffix {
  padding-right: 0px;
}

