.menu-list a {
  width: 100%;
  margin-bottom: 8px;
  text-decoration-line: none;
  display: block;
}

.menu-list a:hover {
  color: var(--text-01);
}

.menu-list a.selected {
  color: var(--brand-100);
}
