/* CONTAINED BUTTON */

.amber-button {
  min-width: 192px;
  height: 48px;
  border-radius: 3px;
  background: var(--brand-100);
  box-shadow: 0 1px 2px 0 rgba(27, 25, 25, 0.25);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  outline: 0;
  padding-right: 16px;
  padding-left: 16px;
}

.amber-button:hover {
  background: var(--brand-110);
  box-shadow: 0 2px 4px 0 rgba(27, 25, 25, 0.4);
}

.amber-button:active,
.amber-button:focus {
  background: var(--brand-120);
}

.amber-button.large {
  height: 56px;
  font-size: 24px;
}

.amber-button.small {
  height: 40px;
  font-size: 16px;
}

.amber-button:disabled {
  background: var(--ui-06);
  box-shadow: none;
  color: var(--text-02);
  pointer-events: none;
}

.amber-button.loading {
  pointer-events: none;
}

/* OUTLINE BUTTON */

.amber-button.outline {
  background: transparent;
  box-shadow: none;
  color: var(--brand-100);
  border: 2px solid var(--brand-100);
}

.amber-button.outline:hover {
  background: #f0e3f6;
}

.amber-button.outline:active,
.amber-button.outline:focus {
  background: #e1c7ec;
}

.amber-button.outline:disabled {
  color: var(--text-02);
  border: 2px solid #e3e9f1;
}

/* TEXT BUTTON */

.amber-button.text {
  background: transparent;
  box-shadow: none;
  color: var(--brand-100);
  border: 0;
  outline: 0;
}

.amber-button.text:hover {
  background: #f0e3f6;
}

.amber-button.text:active,
.amber-button.text:focus {
  background: #e1c7ec;
}

.amber-button.text:disabled {
  color: var(--text-02);
  border: 0;
}

/* BUTTON WITH ICON & LABEL */

.amber-button.withicon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.heart {
  color: var(--ui-06);
}

/* Medium */

.amber-button.withicon .iconwrapperm {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.amber-button.withicon .iconwrapperm > * {
  width: 100%;
  height: 100%;
}

.amber-button.withicon .labelwrapperm {
  display: inline;
}

/* Small */

.amber-button.withicon .iconwrappers {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.amber-button.withicon .iconwrappers > * {
  width: 100%;
  height: 100%;
}

.amber-button.withicon .labelwrappers {
  display: inline;
}

/* Large */

.amber-button.withicon .iconwrapperl {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.amber-button.withicon .iconwrapperl > * {
  width: 100%;
  height: 100%;
}

.amber-button.withicon .labelwrapperl {
  display: inline;
}

/* FAB */

.amber-button.fab {
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  border-radius: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.amber-button.fab .iconwrapperl {
  width: 100%;
  height: 100%;
}

/* BUTTON WITH ONLY ICON */

.amber-button.onlyicon {
  background: transparent;
  box-shadow: none;
  color: var(--ui-06);
}

.amber-button.onlyicon .iconwrapperl {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.amber-button.onlyicon .iconwrapperl:hover {
  background: #f0e3f6;
  color: var(--brand-100);
}

.amber-button.onlyicon .iconwrapperl:active,
.amber-button.onlyicon .iconwrapperl:focus {
  background: #e1c7ec;
  color: var(--brand-100);
}

.amber-button.onlyicon:disabled {
  color: var(--ui-03);
}

/* TOGGLE BUTTON */

.amber-button.toggle-btn.btn-group {
  background: transparent;
  box-shadow: none;
}

/* SPINNER*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
