@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.vynl-theming {
  --color-primary-10: rgb(247, 246, 254);
  --color-primary-10-20: rgba(247, 246, 254, 0.2);
  --color-primary-10-40: rgba(247, 246, 254, 0.4);
  --color-primary-20: rgb(216, 209, 250);
  --color-primary-20-20: rgba(216, 209, 250, 0.2);
  --color-primary-20-40: rgba(216, 209, 250, 0.4);
  --color-primary-30: rgb(113, 92, 214);
  --color-primary-30-20: rgba(113, 92, 214, 0.2);
  --color-primary-30-40: rgba(113, 92, 214, 0.4);
  --color-primary-40: rgb(85, 64, 191);
  --color-primary-40-20: rgba(85, 64, 191, 0.2);
  --color-primary-40-40: rgba(85, 64, 191, 0.4);
  --color-primary-50: rgb(65, 46, 158);
  --color-primary-50-20: rgba(65, 46, 158, 0.2);
  --color-primary-50-40: rgba(65, 46, 158, 0.4);
  --color-secondary-10: rgb(254, 246, 249);
  --color-secondary-10-20: rgba(254, 246, 249, 0.2);
  --color-secondary-10-40: rgba(254, 246, 249, 0.4);
  --color-secondary-20: rgb(250, 209, 224);
  --color-secondary-20-20: rgba(250, 209, 224, 0.2);
  --color-secondary-20-40: rgba(250, 209, 224, 0.4);
  --color-secondary-30: rgb(214, 92, 137);
  --color-secondary-30-20: rgba(214, 92, 137, 0.2);
  --color-secondary-30-40: rgba(214, 92, 137, 0.4);
  --color-secondary-40: rgb(191, 64, 110);
  --color-secondary-40-20: rgba(191, 64, 110, 0.2);
  --color-secondary-40-40: rgba(191, 64, 110, 0.4);
  --color-secondary-50: rgb(158, 46, 87);
  --color-secondary-50-20: rgba(158, 46, 87, 0.2);
  --color-secondary-50-40: rgba(158, 46, 87, 0.4);
  --color-success-10: rgb(246, 254, 252);
  --color-success-10-20: rgba(246, 254, 252, 0.2);
  --color-success-10-40: rgba(246, 254, 252, 0.4);
  --color-success-20: rgb(209, 250, 240);
  --color-success-20-20: rgba(209, 250, 240, 0.2);
  --color-success-20-40: rgba(209, 250, 240, 0.4);
  --color-success-30: rgb(22, 156, 125);
  --color-success-30-20: rgba(22, 156, 125, 0.2);
  --color-success-30-40: rgba(22, 156, 125, 0.4);
  --color-success-40: rgb(17, 141, 113);
  --color-success-40-20: rgba(17, 141, 113, 0.2);
  --color-success-40-40: rgba(17, 141, 113, 0.4);
  --color-success-50: rgb(13, 130, 103);
  --color-success-50-20: rgba(13, 130, 103, 0.2);
  --color-success-50-40: rgba(13, 130, 103, 0.4);
  --color-info-10: rgb(246, 248, 254);
  --color-info-10-20: rgba(246, 248, 254, 0.2);
  --color-info-10-40: rgba(246, 248, 254, 0.4);
  --color-info-20: rgb(209, 219, 250);
  --color-info-20-20: rgba(209, 219, 250, 0.2);
  --color-info-20-40: rgba(209, 219, 250, 0.4);
  --color-info-30: rgb(92, 122, 214);
  --color-info-30-20: rgba(92, 122, 214, 0.2);
  --color-info-30-40: rgba(92, 122, 214, 0.4);
  --color-info-40: rgb(64, 96, 191);
  --color-info-40-20: rgba(64, 96, 191, 0.2);
  --color-info-40-40: rgba(64, 96, 191, 0.4);
  --color-info-50: rgb(46, 74, 158);
  --color-info-50-20: rgba(46, 74, 158, 0.2);
  --color-info-50-40: rgba(46, 74, 158, 0.4);
  --color-warning-10: rgb(254, 251, 246);
  --color-warning-10-20: rgba(254, 251, 246, 0.2);
  --color-warning-10-40: rgba(254, 251, 246, 0.4);
  --color-warning-20: rgb(250, 234, 209);
  --color-warning-20-20: rgba(250, 234, 209, 0.2);
  --color-warning-20-40: rgba(250, 234, 209, 0.4);
  --color-warning-30: rgb(193, 132, 31);
  --color-warning-30-20: rgba(193, 132, 31, 0.2);
  --color-warning-30-40: rgba(193, 132, 31, 0.4);
  --color-warning-40: rgb(193, 126, 16);
  --color-warning-40-20: rgba(193, 126, 16, 0.2);
  --color-warning-40-40: rgba(193, 126, 16, 0.4);
  --color-warning-50: rgb(175, 118, 24);
  --color-warning-50-20: rgba(175, 118, 24, 0.2);
  --color-warning-50-40: rgba(175, 118, 24, 0.4);
  --color-danger-10: rgb(254, 246, 246);
  --color-danger-10-20: rgba(254, 246, 246, 0.2);
  --color-danger-10-40: rgba(254, 246, 246, 0.4);
  --color-danger-20: rgb(250, 209, 209);
  --color-danger-20-20: rgba(250, 209, 209, 0.2);
  --color-danger-20-40: rgba(250, 209, 209, 0.4);
  --color-danger-30: rgb(214, 92, 92);
  --color-danger-30-20: rgba(214, 92, 92, 0.2);
  --color-danger-30-40: rgba(214, 92, 92, 0.4);
  --color-danger-40: rgb(191, 64, 64);
  --color-danger-40-20: rgba(191, 64, 64, 0.2);
  --color-danger-40-40: rgba(191, 64, 64, 0.4);
  --color-danger-50: rgb(158, 46, 46);
  --color-danger-50-20: rgba(158, 46, 46, 0.2);
  --color-danger-50-40: rgba(158, 46, 46, 0.4);
  --color-grey-10: rgb(242, 242, 242);
  --color-grey-10-20: rgba(242, 242, 242, 0.2);
  --color-grey-10-40: rgba(242, 242, 242, 0.4);
  --color-grey-20: rgb(204, 204, 204);
  --color-grey-20-20: rgba(204, 204, 204, 0.2);
  --color-grey-20-40: rgba(204, 204, 204, 0.4);
  --color-grey-30: rgb(89, 89, 89);
  --color-grey-30-20: rgba(89, 89, 89, 0.2);
  --color-grey-30-40: rgba(89, 89, 89, 0.4);
  --color-grey-40: rgb(64, 64, 64);
  --color-grey-40-20: rgba(64, 64, 64, 0.2);
  --color-grey-40-40: rgba(64, 64, 64, 0.4);
  --color-grey-50: rgb(38, 38, 38);
  --color-grey-50-20: rgba(38, 38, 38, 0.2);
  --color-grey-50-40: rgba(38, 38, 38, 0.4);
  --text-dark: #3e3e3e;
  --text-dark-50: rgba(62, 62, 62, 0.5);
  --text-secondary: #939090;
  --text-secondary-50: rgba(147, 144, 144, 0.5);
  --text-disabled: #939090;
  --text-disabled-50: rgba(147, 144, 144, 0.5);
  --text-inverse: #fff;
  --text-inverse-50: rgba(255, 255, 255, 0.5);

  --shadow-level-1: 0 1px 2px 0 rgba(27, 25, 25, 0.4);
  --shadow-level-2: 0 2px 4px 0 rgba(27, 25, 25, 0.4);

  background-color: var(--color-primary-10);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Dark Theme will be placed here! */

/* Text Styles */

.vynl-theming {

  --font-size-xxxs: 10px;
  --font-size-xxs: 12px;
  --font-size-xs: 16px;
  --font-size-s: 24px;
  --font-size-m: 36px;
  --font-size-l: 45px;
  --font-size-xl: 64px;
  --font-size-xxl: 70px;
  --font-size-xxxl: 87px;
}

.vynl-theming .headline-01 {
  font-size: var(--font-size-xxxl);
  font-weight: normal;
  line-height: 100px;
  color: currentColor;
}

.vynl-theming .headline-02 {
  font-size: var(--font-size-xxl);
  font-weight: normal;
  line-height: 80px;
  color: currentColor;
}

.vynl-theming .headline-03 {
  font-size: var(--font-size-xl);
  font-weight: normal;
  line-height: 64px;
  color: currentColor;
}

.vynl-theming .headline-04 {
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: 52px;
  color: currentColor;
}

.vynl-theming .headline-05 {
  font-size: var(--font-size-m);
  font-weight: bold;
  line-height: 54px;
  color: currentColor;
}

.vynl-theming .headline-06 {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 36px;
  color: currentColor;
}


.vynl-theming p,
.vynl-theming .paragraph {
  font-size: var(--font-size-xs);
  font-weight: normal;
  line-height: 24px;
  color: currentColor;
}


.vynl-theming a,
.vynl-theming .link {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 24px;
  color: currentColor;
}


.vynl-theming .body-2 {
  font-size: var(--font-size-xxs);
  font-weight: normal;
  line-height: 16px;
  color: currentColor;
}

.vynl-theming .link-2 {
  font-size: var(--font-size-xxs);
  font-weight: bold;
  line-height: 16px;
  color: currentColor;
}

.vynl-theming .caption {
  font-size: var(--font-size-xxxs);
  font-weight: bold;
  line-height: 16px;
  color: currentColor;
}

.vynl-theming .buttonXS {
  font-size: var(--font-size-xxxs);
  font-weight: bold;
  line-height: 16px;
  color: currentColor;
}

.vynl-theming .buttonS {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: currentColor;
}

.vynl-theming .buttonL {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 36px;
  color: currentColor;
}

.vynl-theming .label {
  font-size: var(--font-size-xxs);
  font-weight: bold;
  line-height: 16px;
  color: currentColor;
}

.vynl-theming .hint {
  font-size: var(--font-size-xxs);
  font-weight: normal;
  line-height: 16px;
  color: currentColor;
}

.vynl-theming .title {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 24px;
  color: currentColor;
}

