@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.vynl-theming {
  --color-primary-10: rgb(248, 248, 252);
  --color-primary-10-20: rgba(248, 248, 252, 0.2);
  --color-primary-10-40: rgba(248, 248, 252, 0.4);
  --color-primary-20: rgb(222, 222, 252);
  --color-primary-20-20: rgba(222, 222, 252, 0.2);
  --color-primary-20-40: rgba(222, 222, 252, 0.4);
  --color-primary-30: rgb(192, 192, 252);
  --color-primary-30-20: rgba(192, 192, 252, 0.2);
  --color-primary-30-40: rgba(192, 192, 252, 0.4);
  --color-primary-50: rgb(122, 122, 230);
  --color-primary-50-20: rgba(122, 122, 230, 0.2);
  --color-primary-50-40: rgba(122, 122, 230, 0.4);
  --color-primary-60: rgb(99, 99, 217);
  --color-primary-60-20: rgba(99, 99, 217, 0.2);
  --color-primary-60-40: rgba(99, 99, 217, 0.4);
  --color-primary-70: rgb(65, 65, 164);
  --color-primary-70-20: rgba(65, 65, 164, 0.2);
  --color-primary-70-40: rgba(65, 65, 164, 0.4);
  --color-primary-100: rgb(8, 8, 78);
  --color-primary-100-20: rgba(8, 8, 78, 0.2);
  --color-primary-100-40: rgba(8, 8, 78, 0.4);
  --color-secondary-10: rgb(252, 248, 249);
  --color-secondary-10-20: rgba(252, 248, 249, 0.2);
  --color-secondary-10-40: rgba(252, 248, 249, 0.4);
  --color-secondary-20: rgb(252, 222, 233);
  --color-secondary-20-20: rgba(252, 222, 233, 0.2);
  --color-secondary-20-40: rgba(252, 222, 233, 0.4);
  --color-secondary-30: rgb(252, 192, 214);
  --color-secondary-30-20: rgba(252, 192, 214, 0.2);
  --color-secondary-30-40: rgba(252, 192, 214, 0.4);
  --color-secondary-50: rgb(230, 122, 161);
  --color-secondary-50-20: rgba(230, 122, 161, 0.2);
  --color-secondary-50-40: rgba(230, 122, 161, 0.4);
  --color-secondary-60: rgb(217, 99, 142);
  --color-secondary-60-20: rgba(217, 99, 142, 0.2);
  --color-secondary-60-40: rgba(217, 99, 142, 0.4);
  --color-secondary-70: rgb(164, 65, 101);
  --color-secondary-70-20: rgba(164, 65, 101, 0.2);
  --color-secondary-70-40: rgba(164, 65, 101, 0.4);
  --color-secondary-100: rgb(78, 8, 34);
  --color-secondary-100-20: rgba(78, 8, 34, 0.2);
  --color-secondary-100-40: rgba(78, 8, 34, 0.4);
  --color-success-10: rgb(248, 251, 252);
  --color-success-10-20: rgba(248, 251, 252, 0.2);
  --color-success-10-40: rgba(248, 251, 252, 0.4);
  --color-success-20: rgb(222, 247, 252);
  --color-success-20-20: rgba(222, 247, 252, 0.2);
  --color-success-20-40: rgba(222, 247, 252, 0.4);
  --color-success-30: rgb(192, 242, 252);
  --color-success-30-20: rgba(192, 242, 252, 0.2);
  --color-success-30-40: rgba(192, 242, 252, 0.4);
  --color-success-50: rgb(122, 211, 230);
  --color-success-50-20: rgba(122, 211, 230, 0.2);
  --color-success-50-40: rgba(122, 211, 230, 0.4);
  --color-success-60: rgb(99, 197, 217);
  --color-success-60-20: rgba(99, 197, 217, 0.2);
  --color-success-60-40: rgba(99, 197, 217, 0.4);
  --color-success-70: rgb(65, 147, 164);
  --color-success-70-20: rgba(65, 147, 164, 0.2);
  --color-success-70-40: rgba(65, 147, 164, 0.4);
  --color-success-100: rgb(8, 66, 78);
  --color-success-100-20: rgba(8, 66, 78, 0.2);
  --color-success-100-40: rgba(8, 66, 78, 0.4);
  --color-info-10: rgb(248, 250, 252);
  --color-info-10-20: rgba(248, 250, 252, 0.2);
  --color-info-10-40: rgba(248, 250, 252, 0.4);
  --color-info-20: rgb(222, 237, 252);
  --color-info-20-20: rgba(222, 237, 252, 0.2);
  --color-info-20-40: rgba(222, 237, 252, 0.4);
  --color-info-30: rgb(192, 222, 252);
  --color-info-30-20: rgba(192, 222, 252, 0.2);
  --color-info-30-40: rgba(192, 222, 252, 0.4);
  --color-info-50: rgb(122, 176, 230);
  --color-info-50-20: rgba(122, 176, 230, 0.2);
  --color-info-50-40: rgba(122, 176, 230, 0.4);
  --color-info-60: rgb(99, 158, 217);
  --color-info-60-20: rgba(99, 158, 217, 0.2);
  --color-info-60-40: rgba(99, 158, 217, 0.4);
  --color-info-70: rgb(65, 115, 164);
  --color-info-70-20: rgba(65, 115, 164, 0.2);
  --color-info-70-40: rgba(65, 115, 164, 0.4);
  --color-info-100: rgb(8, 43, 78);
  --color-info-100-20: rgba(8, 43, 78, 0.2);
  --color-info-100-40: rgba(8, 43, 78, 0.4);
  --color-warning-10: rgb(252, 250, 248);
  --color-warning-10-20: rgba(252, 250, 248, 0.2);
  --color-warning-10-40: rgba(252, 250, 248, 0.4);
  --color-warning-20: rgb(252, 240, 222);
  --color-warning-20-20: rgba(252, 240, 222, 0.2);
  --color-warning-20-40: rgba(252, 240, 222, 0.4);
  --color-warning-30: rgb(252, 227, 192);
  --color-warning-30-20: rgba(252, 227, 192, 0.2);
  --color-warning-30-40: rgba(252, 227, 192, 0.4);
  --color-warning-50: rgb(230, 185, 122);
  --color-warning-50-20: rgba(230, 185, 122, 0.2);
  --color-warning-50-40: rgba(230, 185, 122, 0.4);
  --color-warning-60: rgb(217, 168, 99);
  --color-warning-60-20: rgba(217, 168, 99, 0.2);
  --color-warning-60-40: rgba(217, 168, 99, 0.4);
  --color-warning-70: rgb(164, 123, 65);
  --color-warning-70-20: rgba(164, 123, 65, 0.2);
  --color-warning-70-40: rgba(164, 123, 65, 0.4);
  --color-warning-100: rgb(78, 49, 8);
  --color-warning-100-20: rgba(78, 49, 8, 0.2);
  --color-warning-100-40: rgba(78, 49, 8, 0.4);
  --color-danger-10: rgb(252, 248, 248);
  --color-danger-10-20: rgba(252, 248, 248, 0.2);
  --color-danger-10-40: rgba(252, 248, 248, 0.4);
  --color-danger-20: rgb(252, 225, 222);
  --color-danger-20-20: rgba(252, 225, 222, 0.2);
  --color-danger-20-40: rgba(252, 225, 222, 0.4);
  --color-danger-30: rgb(252, 197, 192);
  --color-danger-30-20: rgba(252, 197, 192, 0.2);
  --color-danger-30-40: rgba(252, 197, 192, 0.4);
  --color-danger-50: rgb(230, 131, 122);
  --color-danger-50-20: rgba(230, 131, 122, 0.2);
  --color-danger-50-40: rgba(230, 131, 122, 0.4);
  --color-danger-60: rgb(217, 109, 99);
  --color-danger-60-20: rgba(217, 109, 99, 0.2);
  --color-danger-60-40: rgba(217, 109, 99, 0.4);
  --color-danger-70: rgb(164, 74, 65);
  --color-danger-70-20: rgba(164, 74, 65, 0.2);
  --color-danger-70-40: rgba(164, 74, 65, 0.4);
  --color-danger-100: rgb(78, 14, 8);
  --color-danger-100-20: rgba(78, 14, 8, 0.2);
  --color-danger-100-40: rgba(78, 14, 8, 0.4);
  --color-grey-10: rgb(252, 248, 248);
  --color-grey-10-20: rgba(252, 248, 248, 0.2);
  --color-grey-10-40: rgba(252, 248, 248, 0.4);
  --color-grey-20: rgb(252, 222, 222);
  --color-grey-20-20: rgba(252, 222, 222, 0.2);
  --color-grey-20-40: rgba(252, 222, 222, 0.4);
  --color-grey-30: rgb(252, 192, 192);
  --color-grey-30-20: rgba(252, 192, 192, 0.2);
  --color-grey-30-40: rgba(252, 192, 192, 0.4);
  --color-grey-50: rgb(230, 122, 122);
  --color-grey-50-20: rgba(230, 122, 122, 0.2);
  --color-grey-50-40: rgba(230, 122, 122, 0.4);
  --color-grey-60: rgb(217, 99, 99);
  --color-grey-60-20: rgba(217, 99, 99, 0.2);
  --color-grey-60-40: rgba(217, 99, 99, 0.4);
  --color-grey-70: rgb(164, 65, 65);
  --color-grey-70-20: rgba(164, 65, 65, 0.2);
  --color-grey-70-40: rgba(164, 65, 65, 0.4);
  --color-grey-100: rgb(78, 8, 8);
  --color-grey-100-20: rgba(78, 8, 8, 0.2);
  --color-grey-100-40: rgba(78, 8, 8, 0.4);

  --text-02: rgb(148, 165, 175);
  --text-03: var(--color-secondary-70);
  --text-inverse: var(--color-primary-20);
}

/* Dark Theme will be placed here! */

/* Text Styles */
.vynl-theming {
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;
}

.vynl-theming .display-large {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  line-height: 56px;
  color: var(--text-04);
}

.vynl-theming .display-small {
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: 32px;
  color: var(--text-04);
}

.vynl-theming .headline-01 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 40px;
  color: var(--color-grey-100);
}

.vynl-theming .headline-02 {
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: 32px;
  color: var(--color-grey-100);
}

.vynl-theming .headline-03 {
  font-size: var(--font-size-m);
  font-weight: bold;
  line-height: 28px;
  color: var(--color-grey-100);
}

.vynl-theming .headline-04-primary {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 24px;
  color: var(--color-grey-100);
}

.vynl-theming .headline-04-secondary {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 24px;
  color: var(--text-02);
}

.vynl-theming .paragraph {
  font-size: var(--font-size-s);
  font-weight: normal;
  line-height: 24px;
  color: var(--color-grey-100);
}

.vynl-theming .style-link {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 24px;
  color: var(--text-04);
}

.vynl-theming .caption-primary {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--color-grey-100);
}

.vynl-theming .caption-secondary {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--text-02);
}

.vynl-theming .caption-support {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--color-danger-70);
}

.vynl-theming .caption-link {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--text-04);
}
