.vinyl-input {
  width: 100%;
  min-width: 192px;
  max-width: 300px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--color-primary-20);
  background: var(--color-grey-10);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--color-primary-50);
}

.vinyl-input.focus {
  border: 1px solid var(--color-primary-40);
}

.vinyl-input.filled {
  background: var(--color-primary-20);
  border: 1px solid var(--color-primary-50);
  color: var(--color-primary-50);
}

.vinyl-input.error {
  background: var(--color-danger-20);
  border: 1px solid var(--color-danger-50);
  color: var(--color-danger-50);
}

.vinyl-input.error input::placeholder {
  color: var(--color-danger-50-40);
}

.vinyl-input.disabled {
  background: var(--color-grey-20);
  color: var(--text-disabled);
  border: 1px solid var(--color-grey-20);
}

.vinyl-input.disabled input::placeholder {
  color: var(--text-disabled);
}

.vinyl-input input::placeholder {
  font-size: var(--font-size-s);
  font-weight: normal;
  line-height: 24px;
  color: var(--color-primary-50-40);
}

.vinyl-input input {
  flex-grow: 1;
  height: 100%;
  background: transparent;
  color: currentColor;
  font-size: var(--font-size-s);
  font-weight: normal;
  border: 0;
  outline: 0;
  padding-right: 16px;
  padding-left: 16px;
  box-sizing: border-box;
}

.vinyl-input .prefix,
.vinyl-input .suffix {
  min-width: 40px;
  height: 40px;
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.withPrefix {
  padding-left: 0px;
}

input.withSuffix {
  padding-right: 0px;
}
