.vynl-textarea{
    width: 100%;
    min-width: 192px;
    max-width: 300px;
    height: auto;
    border-radius: 6px;
    border: 1px solid var(--color-primary-20);
    background: var(--color-grey-10);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--color-primary-50);
}

.vynl-textarea.focus {
    border: 1px solid var(--color-primary-40);
}

.vynl-textarea.filled {
    background: var(--color-primary-20);
    color: var(--color-primary-50);
}

.vynl-textarea.error {
    background: var(--color-danger-20);
    color: var(--color-danger-50);
    border: 1px solid var(--color-danger-50);
}

.vynl-textarea.error textarea::placeholder {
    color: var(--color-danger-50-40);
}

.vynl-textarea.disabled {
    background: var(--color-grey-20);
    color: var(--text-disabled);
    border: 1px solid var(--color-grey-20);
}

.vynl-textarea.disabled textarea::placeholder {
    color: var(--text-disabled);
}

.vynl-textarea textarea::placeholder {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--color-primary-50-40);
}

.vynl-textarea textarea {
    flex-grow: 1;
    height: 100%;
    background: transparent;
    color: currentColor;
    font-size: var(--font-size-s);
    font-weight: normal;
    border: 0;
    outline: 0;
    padding: 12px 16px;
    box-sizing: border-box;
}

.vynl-textarea.auto-grow textarea {
    resize: none;
    overflow: hidden;
}

.vynl-textarea .prefix,
.vynl-textarea .suffix {
    min-width: 40px;
    height: 40px;
    color: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea.withPrefix {
    padding-left: 0px;
}

textarea.withSuffix {
    padding-right: 0px;
}

