.buttonGroup {
  max-width: 576px;
  border-radius: 3px;
  background: transparent;
  box-shadow: none;
  color: var(--brand-100);
  border: 2px solid var(--brand-100);
}

.buttonGroup .vynl-button.text:hover {
  border-radius: none;
  background: transparent;
}

.buttonGroup .vynl-button.text:active,
.buttonGroup .vynl-button.text:focus {
  border-radius: 0;
  background: var(--brand-100);
  color: #fff;
  border: 0;
}
