.inputpage .vynl-input {
  margin-right: 24px;
  margin-bottom: 24px;
}

.inputpage .vynl-button .onlyicon:hover,
.inputpage .vynl-button .onlyicon:active,
.inputpage .vynl-button .onlyicon:focus {
  background: transparent;
}
