/* FAB */

.vynl-button.fab {
    min-width: 56px;
    max-width: 56px;
    height: 56px;
    border-radius: 28px;
    padding:0;
}

.vynl-button.fab .ripple-effect-container {
    border-radius: 100%;
}