/* CONTAINED BUTTON */

.vynl-button {
  min-width: 192px;
  height: 48px;
  border-radius: 3px;
  background: var(--color-primary-50);
  box-shadow: 0 1px 2px 0 rgba(27, 25, 25, 0.25);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  outline: 0;
  padding-right: 16px;
  padding-left: 16px;
}

.vynl-button:hover {
  background: var(--color-primary-40);
  box-shadow: 0 2px 4px 0 rgba(27, 25, 25, 0.4);
  
}

.vynl-button:active,
.vynl-button:focus {
  background: var(--color-primary-30);
}

.vynl-button.large {
  height: 56px;
  font-size: 20px;
}

.vynl-button.small {
  height: 40px;
}

.vynl-button:disabled {
  background: var(--color-grey-30);
  box-shadow: none;
  color: var(--text-02);
  pointer-events: none;
}

.vynl-button.loading {
  pointer-events: none;
}

.vynl-button svg{
  width: 20px;
  height: 20px;
}

.vynl-button.large svg{
  width: 24px;
  height: 24px;
}

.vynl-button.small svg{
  width: 14px;
  height: 14px;
}

/* OUTLINE BUTTON */

.vynl-button.outline {
  background: transparent;
  box-shadow: none;
  color: var(--color-primary-50);
  border: 2px solid var(--color-primary-50);
}

.vynl-button.outline:hover {
  background: var(--color-primary-50-40);
}

.vynl-button.outline:active,
.vynl-button.outline:focus {
  background: var(--color-primary-50-20);
}

.vynl-button.outline:disabled {
  color: var(--color-grey-40);
  border: 2px solid var(--color-grey-40);
}

/* GHOST BUTTON */

.vynl-button.ghost {
  background: transparent;
  box-shadow: none;
  color: var(--color-primary-50);
  border: 0;
  outline: 0;
}

.vynl-button.ghost:hover {
  background: var(--color-primary-40);
  color: var(--color-primary-50);
}

.vynl-button.ghost:active,
.vynl-button.ghost:focus {
  background: var(--color-primary-30);
}

.vynl-button.ghost:disabled {
  color: var(--color-grey-40);
  border: 0;
}

/* BUTTON WITH ICON & LABEL */

.vynl-button.withicon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.heart {
  color: var(--color-primary-50);
}

/* Medium */

.vynl-button.withicon .iconwrapperm {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.vynl-button.withicon .iconwrapperm > * {
  width: 100%;
  height: 100%;
}

.vynl-button.withicon .labelwrapperm {
  display: inline;
}

/* Small */

.vynl-button.withicon .iconwrappers {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.vynl-button.withicon .iconwrappers > * {
  width: 100%;
  height: 100%;
}

.vynl-button.withicon .labelwrappers {
  display: inline;
}

/* Large */

.vynl-button.withicon .iconwrapperl {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.vynl-button.withicon .iconwrapperl > * {
  width: 100%;
  height: 100%;
}

.vynl-button.withicon .labelwrapperl {
  display: inline;
}

/* FAB */

.vynl-button.fab {
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  border-radius: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding:0;
}

.vynl-button.fab .ripple-effect-container {
  border-radius: 100%;
}

/* BUTTON WITH ONLY ICON */

.vynl-button.onlyicon {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  background: transparent;
  color: var(--color-primary-50);
  padding: 0;
}

.vynl-button.onlyicon .ripple-effect-container {
  border-radius: 100%;
}


.vynl-button.onlyicon.large {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 20px;
}


.vynl-button.onlyicon.small {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  border-radius: 12px;
}

.vynl-button.onlyicon:hover {
  background: var(--color-primary-50-40);
}

.vynl-button.onlyicon:active {
  background: var(--color-primary-50-20);
}

.vynl-button.onlyicon:disabled {
  background: var(--color-grey-30);
  color: var(--color-grey-40);
}


/* ONLY ICON + LABEL*/

.vynl-button.vynl-button.onlyicon .labelwrapper {

  position:absolute;
  top: 100%;
  font-size: 10px;
}


/* SPINNER*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
