/* CONTAINED BUTTON */

.vynl-button {
    min-width: 192px;
    height: 48px;
    border-radius: 3px;
    background: var(--color-primary-50);
    box-shadow: var(--shadow-level-1);
    color: var(--text-inverse);
    font-size: var(--font-size-xs);
    font-weight: bold;
    border: 0;
    outline: 0;
    padding-right: 16px;
    padding-left: 16px;
    transition: background-color ease-in-out 0.120s;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.vynl-button.has-error {
    color: var(--color-danger-50);
    background-color: var(--color-danger-20);
    box-shadow: none;
    pointer-events: none;
}

.vynl-button:hover {
    background: var(--color-primary-40);
    box-shadow: var(--shadow-level-2);

}

.vynl-button:active,
.vynl-button:focus {
    background: var(--color-primary-30);
}

.vynl-button.large {
    height: 56px;
    font-size: var(--font-size-s);
}

.vynl-button.small {
    height: 40px;
}

.vynl-button:disabled:not(.has-error) {
    background: var(--color-grey-20);
    box-shadow: none;
    color: var(--text-disabled);
    pointer-events: none;
}