.vinyl-textarea {
  width: 100%;
  min-width: 192px;
  max-width: 300px;
  height: auto;
  border-radius: 6px;
  border: 1px solid var(--color-primary-20);
  background: var(--color-grey-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--color-primary-50);
  padding: 12px 16px;
}

.vinyl-textarea-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.vinyl-textarea.focus {
  border: 1px solid var(--color-primary-40);
}

.vinyl-textarea.filled {
  background: var(--color-primary-20);
  color: var(--color-primary-50);
}

.vinyl-textarea.error {
  background: var(--color-danger-20);
  color: var(--color-danger-50);
  border: 1px solid var(--color-danger-50);
}

.vinyl-textarea.error textarea::placeholder {
  color: var(--color-danger-50-40);
}

.vinyl-textarea.disabled {
  background: var(--color-grey-20);
  color: var(--text-disabled);
  border: 1px solid var(--color-grey-20);
}

.vinyl-textarea.disabled textarea::placeholder {
  color: var(--text-disabled);
}

.vinyl-textarea textarea::placeholder {
  font-size: var(--font-size-xs);
  font-weight: normal;
  line-height: 24px;
  color: var(--color-primary-50-40);
}

.vinyl-textarea textarea {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background: transparent;
  color: currentColor;
  font-size: var(--font-size-xs);
  font-weight: normal;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.vinyl-textarea.auto-grow textarea {
  resize: none;
  overflow: hidden;
}

.vinyl-textarea .prefix,
.vinyl-textarea .suffix {
  min-width: 40px;
  height: 40px;
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea.withPrefix {
  padding-left: 0px;
}

textarea.withSuffix {
  padding-right: 0px;
}
