/* GHOST BUTTON */

.vinyl-button.ghost {
    background: transparent;
    box-shadow: none;
    color: var(--color-primary-50);
    border: 0;
    outline: 0;
}

.vinyl-button.ghost:hover {
    background: var(--color-primary-50-40);
    color: var(--color-primary-50);
}

.vinyl-button.ghost:active,
.vinyl-button.ghost:focus {
    background: var(--color-primary-50-20);
    color: var(--color-primary-50);
}

.vinyl-button.ghost:disabled:not(.has-error) {
    color: var(--text-disabled);
    border: 0;
}