@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --brand-100: #B472D0;
  --brand-110: #9A4BBC;
  --brand-120: #7D3A9A;
  --brand-200: #4B88FA;
  --brand-210: #1967F9;
  --brand-220: #064FD9;
  --ui-01: #F1F4F8;
  --ui-02: #F9FBFD;
  --ui-03: #E7ECEF;
  --ui-04: #FFFFFF;
  --ui-05: #323B4C;
  --ui-06: #C6CFD5;
  --text-01: #4a4a4a;
  --text-02: rgb(148, 165, 175);
  --text-03: var(--brand-200);
  --text-inverse: var(--ui-04);
  --support-01: #185BA9;
  --support-02: #7ED321;
  --support-03: #F07731;
  --support-04: #EC4850;  
}

/* Dark Theme will be placed here! */

/* Text Styles */



body {
  font-family: 'Lato', sans-serif;
}

:root {
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl:48px;
}

.display-large {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  line-height: 56px;
  color: var(--text-04);
}

.display-small {
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: 32px;
  color: var(--text-04);
}

.headline-01 {
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 40px;
  color: var(--text-01);
}

.headline-02 {
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: 32px;
  color: var(--text-01);
}

.headline-03 {
  font-size: var(--font-size-m);
  font-weight: bold;
  line-height: 28px;
  color: var(--text-01);
}

.headline-04-primary {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 24px;
  color: var(--text-01);
}

.headline-04-secondary {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 24px;
  color: var(--text-02);
}

.paragraph {
  font-size: var(--font-size-s);
  font-weight: normal;
  line-height: 24px;
  color: var(--text-01);
}

.style-link {
  font-size: var(--font-size-s);
  font-weight: bold;
  line-height: 24px;
  color: var(--text-04);
}

.caption-primary {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--text-01);
}

.caption-secondary {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--text-02);
}

.caption-support {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--support-04);
}

.caption-link {
  font-size: var(--font-size-xs);
  font-weight: bold;
  line-height: 16px;
  color: var(--text-04);
}


/* Containers */

.page-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
}

.page-container .body-container {
  height: 100vh;
}

.page-container .body-container .left-col {
  height: 100vh;
  overflow: auto;
  width: 240px;
  box-sizing: border-box;
  background: var(--ui-04); 
  box-shadow: 0 2px 4px 0 rgba(27, 25, 25, 0.25);
  padding-top: 84px;
  padding-left: 40px;
  position: fixed;
  top: 0;
  left: 0;
}

.page-container .body-container .content-col {
  min-height: calc(100vh - 60px);
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 40px;
  margin-left: 240px;
  box-sizing: border-box;
  background: var(--ui-01);  
}

.page-section {
  max-width: 800px;
  margin-bottom: 40px;
}

.page-section .headline-04-primary {
  margin-bottom: 16px;
}

.page-intro {
  max-width: 800px;
  margin-bottom: 40px;
}

.page-intro .headline-02 {
  margin-bottom: 8px;
}